//Colors
$primary_color: #045C38;
$second_green: #3BA46B;
$pink:#D6095F;
$red: #AC2421;

$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;