@import "variables";
@import "layouts";
@import "buttons";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}
.clear {
  clear: both; 
}
.logotipo {
  margin-top: -10px;
}

//Top Header
.green_belt {
  background-color: $primary_color;
  padding: 10px 5px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .social_top {
    a {
      color: #fff;
      text-decoration: none;

      span {
        background-color: $pink;
        width: 30px;
        height: 30px;
        display: flex;
        border-radius: 50%;
        text-align: center;
        float: left;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 5px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;

        strong {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}

.header_form_top {
  padding-top: 28px;
  padding-bottom: 10px;

  //Top form
  .top_form {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;

    .btn_search_form {
      background: $second_green;
      border-radius: 0px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      input[type="image"] {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background: $primary_color;
      }
    }

    input[type="text"] {
      width: 100%;
      background: rgba(196, 196, 196, 0.21);
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      padding: 10px 20px;
    }
  }

  .shop_login {
    display: flex;
    float: left;
    margin-right: 30px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #000000;

      strong {
        font-weight: bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
        text-transform: initial;
      }
    }

    img {
      margin-right: 5px;
    }
  }

  .top_list {
    list-style: none;
    display: flex;
    gap: 15px;
  }
}

//Top menu
.top_menu {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;

    .current-menu-item {
      background-color: $red;
      border-radius: 10px 10px 0px 0px;
      -webkit-border-radius: 10px 10px 0px 0px;
      -moz-border-radius: 10px 10px 0px 0px;
      -ms-border-radius: 10px 10px 0px 0px;
      -o-border-radius: 10px 10px 0px 0px;
      padding: 10px 5px;
      margin-top: -10px;

      a {
        color: #fff !important;
      }
    }

    li {
      a {
        text-decoration: none;
        color: #000;
        padding: 10px 5px;

        &:hover {
          background-color: $red;
          color: #fff;
          border-radius: 10px 10px 0px 0px;
          -webkit-border-radius: 10px 10px 0px 0px;
          -moz-border-radius: 10px 10px 0px 0px;
          -ms-border-radius: 10px 10px 0px 0px;
          -o-border-radius: 10px 10px 0px 0px;
          padding: 10px 5px;
        }
      }
    }
  }

  .btn_buy_here {
    margin-left: 40px;
    a {
      button {
        background-color: $second_green;
        border: 0;
        border-radius: 5px;
        padding: 10px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        color: #fefefe;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background-color: $primary_color;
        }
      }
    }
  }
}

//Slider
.hero_banner {
  min-height: 500px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center top; 

  ul{
    list-style: none;
    display: flex;
    gap:32px;
  }
}
