@import "variables";
@import "layouts";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}
.clear {
  clear: both;
}

//Top Header
.green_belt {
  background-color: $primary_color;
  padding: 10px 5px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .social_top {
    a {
      color: #fff;
      text-decoration: none;

      span {
        background-color: $pink;
        width: 30px;
        height: 30px;
        display: flex;
        border-radius: 50%;
        text-align: center;
        float: left;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 5px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;

        strong {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}

.header_form_top {
  padding-top: 28px;
  padding-bottom: 10px;

  //Top form
  .top_form {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;

    .btn_search_form {
      background: $primary_color;
      border-radius: 0px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      input[type="image"] {
        width: 20px;
        height: 20px;
      }
    }

    input[type="text"] {
      width: 100%;
      background: rgba(196, 196, 196, 0.21);
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      padding: 10px 20px;
    }
  }
}
